/.vscode
/Figs
/README.md
/Untitled.ipynb
/__pycache__
/cityscapes_iou.txt
/commad.txt
/config_taskonomy.py
/data
/dynamic_prune.py
/export.py
/iou_analysis.py
/iou_visualize.ipynb
/logs
/model_test.py
/net_name.txt
/nyuv2_iou.txt
/predict.py
/runs
/taskonomy_iou.txt